*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.nav{
    background-color: rgb(0,0,0);
    height: 80px;
    width: 100%;
   
}
.enlace{
    position: absolute;
    padding: 20px 50px;
}
.logo{
    height: 68px;
    border-radius: 50px;
}
.nav ul{
    float: right;
    margin-right: 20px;
}
.nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
.nav ul li a{
    color: #fff;
    font-size: 20px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
.nav ul li i{
    color: #fff;
    font-size: 20px;
    padding: 7px 13px;
   
}
li a.active, li a:hover{
    background-color: rgb(151, 140, 41);
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
section{
    
    background-color: rgb(151, 140, 41);

}


@media (max-width: 950px){
.enlace{
    padding-left: 20px;
}
.nav ul li a{
    font-size: 16px;
}
}


@media (max-width: 850px){
.checkbtn{
    display: block;
}
ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgb(0,0,0);
    top:80px;
    left: -100%;
    text-align: left;
    transition: all .5s;
    
}
.nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
    
}
.nav ul li a{
    font-size: 20px;
}
li a:hover, li a.active{
    background: none;
    color: rgb(151, 140, 41);
    background-color: rgb(151, 140, 41);
    transition: .5s;
}
#check:checked ~ul{
    left: 0;
}
}

/*footer*/

.pie-pagina{
    width: 100%;
    background-color: rgb(0,0,0);
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .caja figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.pie-pagina .grupo-1 .caja figure img{
    width: 150px;
    height: 150px;
    border-radius: 130px;
}
.pie-pagina .grupo-1 .caja h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .caja p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .redes-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    font-size: 30px;
    line-height: 45px;
    color: #efefef;
    margin-right: 10px;
    text-align: center;
    transition: all .5s ease;
}
.pie-pagina .grupo-1 .redes-social a:hover{
    color: rgb(151, 140, 41);
}
.pie-pagina .grupo-2{
    background-color: rgb(26, 32, 29);
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 16px;
}

@media (max-width:850px) {
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
        
    }
}

/* ESTILO INDEX*/
.promo img{
    width: 100%;
    height: 400px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 45px;
    padding-right: 45px;
}

/*ESTILO MENU*/
.menu{
    box-sizing: border-box;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 45px;
    padding-right: 45px;
}
.menu h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: rgb(38, 53, 43);
    padding-bottom: 30px;
}
.menu h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: rgb(38, 53, 43);
    border-bottom: solid rgb(151, 140, 41);
    border-top: solid rgb(151, 140, 41);
    margin-bottom: 30px;
    text-align: center;
}
.menu h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: rgb(38, 53, 43);
    padding-bottom: 20px;
}
 .Bebidas h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    border-bottom: solid rgb(151, 140, 41);
    padding-bottom: 10px;
    padding-left: 45px;
    padding-right: 45px;
    
}
.donas h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    border-bottom: solid rgb(151, 140, 41);
    padding-bottom: 10px;
    padding-left: 45px;
    padding-right: 45px;
    
}
.donas ul li{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    padding-bottom: 10px;
    padding-left: 45px;
    padding-right: 45px;
    color: #000;
    
}

.donas p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-bottom: 10px;
    padding-left: 45px;
    padding-right: 45px;
    color: #000;
    
}
.btn_wsp{
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    background-color: rgb(22, 156, 74);
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px;
    z-index: 100;
}
.btn_wsp:hover{
 text-decoration: none;
 color:rgb(22, 156, 74);
 background-color: #fff;
}


.mapa{
    margin-top: 20px;
    margin-bottom: 20px;
}
.Bebidas .Bebidas-frias{
    display: inline-block;
}
 .Bebidas .Bebidas-frias .b1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    padding-bottom: 10px;
    /*background-color: rgb(11, 12, 11);*/
    display: inline-block;
    border-radius: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 45px;
    padding-right: 45px;
    margin-left: 30px;
   
}
 .Bebidas .Bebidas-frias .b1 img{
   width: 250px;
    height: 120px;
    border-radius: 150px;
}
 .Bebidas .Bebidas-frias .b1 h4{
   color: rgb(14, 12, 12);
   text-align: center;
   font-size: 20px;
 }
 .Bebidas .Bebidas-frias .b1 p{
    color: rgb(34, 30, 30);
    text-align: center;
    font-size: 15px;
  }
  .Bebidas .Bebidas-frias .b1 button{
  width: 200px;
  height: 40px;
    text-align: center;
    font-size: 20px;
    background-color: rgb(17, 20, 18);
    color: #fff;
    border-radius: 10px;
  }
  .Bebidas .Bebidas-frias .b1 button:hover{
    
    text-align: center;
    font-size: 25px;
    background-color: rgb(151, 140, 41);
    color: #fff;
    cursor: pointer;
  }
.pagar .comprando {
    font-size: 20px;
    background-color: rgb(22, 156, 74);
    color: #fff;
    cursor: pointer;
    margin-left: 30px;
    border-color: #fff;
    border-radius: 5px;
    width: 200px;
    height: 40px;
}
.pagar .comprando:hover {
    font-size: 20px;
    background-color: rgb(156, 31, 22);
    color: #fff;
    cursor: pointer;
    margin-left: 30px;
    border-color: #fff;
    border-radius: 10px;
}









